*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scroll-behavior: smooth; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 80%; } }

body {
  box-sizing: border-box; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #f1c40f;
  color: #000; }

@font-face {
  font-family: Mustardo;
  src: url(../../css/fonts/mustardo.ttf); }

body {
  font-family: "Lato", sans-serif;
  line-height: 1.7; }

.heading-primary {
  text-align: center; }
  .heading-primary--main {
    font-family: Mustardo;
    font-size: 10rem;
    letter-spacing: 0.25rem; }
  .heading-primary--sub {
    font-size: 3.5rem; }

.heading-top {
  position: absolute;
  top: 1rem;
  left: 3rem; }
  .heading-top--about {
    color: #333;
    font-size: 3.5rem; }

.heading {
  width: max-content;
  font-size: 3.5rem; }
  .heading__dark {
    color: #333; }
  .heading__white {
    color: #fff; }

.paragraph {
  width: 80vw;
  font-size: 2rem;
  color: #34495e; }
  .paragraph__about {
    padding-bottom: 3rem; }
  .paragraph__skills {
    color: #fff; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-underline__yellow {
  height: 3px;
  width: 100%;
  background-color: #f1c40f;
  display: block;
  content: ""; }

.u-underline__blue {
  height: 3px;
  width: 100%;
  background-color: #3498db;
  display: block;
  content: ""; }

.u-underline__top {
  margin-top: -8px;
  margin-bottom: 5px; }

.u-underline__bottom {
  margin-top: 7px;
  margin-bottom: 5px; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  border: none;
  cursor: pointer;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--yellow {
  background-color: #f1c40f;
  color: #333;
  font-weight: bold; }
  .btn--yellow::after {
    background-color: #f1c40f; }

.btn--blue {
  background-color: #3498db;
  color: #fff; }
  .btn--blue::after {
    background-color: #3498db; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.header {
  height: 100vh;
  background-image: linear-gradient(to left bottom, rgba(52, 73, 94, 0.9), rgba(52, 73, 94, 0.9)), url(../img/Indianapolis.jpeg);
  background-size: cover;
  background-position: top;
  position: relative; }
  .header__container {
    position: absolute;
    color: #fff;
    top: 20%;
    right: 50%; }
  .header__speaker {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 55%; }
  .header__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 3rem; }

.section--about {
  background-color: white;
  height: 50vh;
  padding-left: 5rem;
  padding-top: 2rem; }
  @media only screen and (max-width: 56.25em) {
    .section--about {
      padding: 20rem 0; } }

.section--skills {
  background-color: #a5a5a5;
  height: 87vh;
  padding-left: 5rem;
  padding-top: 2rem; }
  @media only screen and (max-width: 56.25em) {
    .section--skills {
      padding: 20rem 0; } }
