*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scroll-behavior: smooth;
  color: #34495e; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 80%; } }

body {
  box-sizing: border-box; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #f1c40f;
  color: #000; }

@font-face {
  font-family: Mustardo;
  src: url(../../css/fonts/mustardo.ttf); }

body {
  font-family: "Lato", sans-serif;
  line-height: 1.7; }

.heading-primary {
  color: #fff;
  font-family: Mustardo;
  font-size: 10rem;
  letter-spacing: 0.25rem; }

.heading-sub {
  color: #fff;
  font-size: 3.5rem; }

.heading-contact {
  color: #fff;
  width: max-content;
  margin: 0 auto; }
  .heading-contact__primary {
    padding-top: 4rem;
    font-size: 3.5rem; }
  .heading-contact__sub {
    padding-top: 2rem;
    font-size: 2.8rem; }

.heading-top {
  position: absolute;
  top: 1rem;
  left: 3rem; }
  .heading-top--about {
    font-size: 3.5rem; }

.heading {
  width: max-content;
  font-size: 3.5rem;
  padding-left: 5rem;
  padding-top: 2rem; }
  .heading__white {
    color: #fff; }

.heading__medium {
  font-size: 2.5rem;
  text-transform: uppercase; }

.heading__small {
  font-size: 1.6rem;
  text-transform: uppercase; }

.paragraph {
  width: 100vw;
  font-size: 2rem;
  color: #34495e; }
  .paragraph__padded {
    width: 90vw;
    padding-left: 5rem;
    padding-top: 2rem; }
  .paragraph__about {
    padding-bottom: 3rem; }
  .paragraph__skills {
    color: #fff; }

.copyright__text {
  font-size: 1.6rem;
  color: #fff; }

.u-center-text {
  text-align: center !important; }

.u-bold-text {
  font-weight: bold !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-underline__yellow {
  height: 3px;
  width: 100%;
  background-color: #f1c40f;
  display: block;
  content: ""; }

.u-underline__blue {
  height: 3px;
  width: 100%;
  background-color: #3498db;
  display: block;
  content: ""; }

.u-underline__top {
  margin-top: -8px;
  margin-bottom: 5px; }

.u-underline__bottom {
  margin-top: 7px;
  margin-bottom: 5px; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  border: none;
  cursor: pointer;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--yellow {
  background-color: #f1c40f;
  color: #333;
  font-weight: bold; }
  .btn--yellow::after {
    background-color: #f1c40f; }

.btn--blue {
  background-color: #3498db;
  color: #fff; }
  .btn--blue::after {
    background-color: #3498db; }

.btn--dark {
  background-color: #34495e;
  color: #f1c40f; }
  .btn--dark::after {
    background-color: #34495e; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.icon__light {
  width: 5rem;
  height: 5rem;
  fill: #fff;
  transition: all 0.2s; }
  .icon__light:hover, .icon__light:active {
    cursor: pointer;
    fill: #f1c40f;
    transform: translateY(-3px); }

.icon__dark {
  width: 5rem;
  height: 5rem;
  fill: #34495e; }
  .icon__dark:hover, .icon__dark:active {
    cursor: pointer;
    fill: #3498db;
    transform: translateY(-3px); }

.header {
  height: 100vh;
  background-image: linear-gradient(to left bottom, rgba(52, 73, 94, 0.9), rgba(52, 73, 94, 0.9)), url(../img/Indianapolis.jpeg);
  background-size: cover;
  background-position: top;
  position: relative; }
  .header__container {
    position: absolute;
    color: #fff;
    top: 20%;
    right: 50%; }
  .header__speaker {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 55%; }
  .header__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 3rem; }
  .header__icons {
    position: absolute;
    bottom: 3rem;
    left: 4rem;
    width: 27rem;
    display: flex;
    justify-content: space-around; }
    .header__icons img {
      width: 5rem;
      height: 5rem; }

.footer {
  width: 100%;
  height: 38vh;
  background-color: #f1c40f;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .footer .icons__row {
    display: flex;
    justify-content: space-between;
    width: 26rem; }
    .footer .icons__row img {
      width: 5rem;
      height: 5rem; }

.section--about {
  background-color: white;
  height: max-content; }

.section--skills {
  background-color: #a5a5a5;
  padding-bottom: 5rem;
  height: max-content; }
  .section--skills .skills__container {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-evenly; }
    .section--skills .skills__container .box__blue {
      width: 25%;
      height: max-content;
      background-color: #fff;
      border: 5px solid #3498db; }
      @media only screen and (max-width: 56.25em) {
        .section--skills .skills__container .box__blue {
          width: 100%; } }
    .section--skills .skills__container .box__yellow {
      width: 25%;
      height: max-content;
      background-color: #fff;
      border: 5px solid #f1c40f; }
      @media only screen and (max-width: 56.25em) {
        .section--skills .skills__container .box__yellow {
          width: 100%; } }
    .section--skills .skills__container .box__text {
      padding-left: 2rem;
      padding-right: 2rem;
      font-size: 1.5rem; }
    @media only screen and (max-width: 56.25em) {
      .section--skills .skills__container {
        flex-direction: column; } }

.section--projects {
  height: 100vh;
  text-align: center; }
  .section--projects .projects__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 80%; }
    .section--projects .projects__container .box {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center; }
      .section--projects .projects__container .box__small {
        padding-left: 5rem;
        padding-right: 5rem;
        padding-bottom: 3rem;
        padding-top: 3rem;
        height: max-content;
        width: 25%; }
        @media only screen and (max-width: 56.25em) {
          .section--projects .projects__container .box__small {
            width: 100%; } }
      .section--projects .projects__container .box__large {
        padding-left: 10rem;
        padding-right: 10rem;
        padding-bottom: 3rem;
        padding-top: 3rem;
        height: max-content;
        width: 40%; }
        @media only screen and (max-width: 56.25em) {
          .section--projects .projects__container .box__large {
            width: 100%; } }
      .section--projects .projects__container .box__blue {
        background-color: #fff;
        border: 5px solid #3498db; }
      .section--projects .projects__container .box__yellow {
        background-color: #fff;
        border: 5px solid #f1c40f; }
      .section--projects .projects__container .box__text {
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: 1.5rem; }
    @media only screen and (max-width: 56.25em) {
      .section--projects .projects__container {
        flex-direction: column; } }
  @media only screen and (max-width: 56.25em) {
    .section--projects {
      height: max-content; } }

.section--copyright {
  height: 10vh;
  background-color: #3498db;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center; }

.contact {
  background-color: #34495e;
  height: 100vh; }
  .contact__form {
    display: flex; }
  .contact__label {
    color: #fff; }
  .contact__name {
    width: 25%; }
  .contact__input {
    background-color: #34495e;
    border: 5px solid #f1c40f;
    border-radius: 25px; }
