.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    border: none;
    cursor: pointer;
    font-size: $default-font-size;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem $object-shadow-2;

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem $object-shadow-2;
  }

  &--yellow {
    background-color: $color-primary;
    color: $color-grey-dark-3;
    font-weight: bold;

    &::after {
      background-color: $color-primary;
    }
  }

  &--blue {
    background-color: $color-secondary;
    color: $color-white;

    &::after {
      background-color: $color-secondary;
    }
  }

  &--dark {
    background-color: $color-tertiary;
    color: $color-primary;

    &::after {
      background-color: $color-tertiary;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }
}
