.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    border: none;
    cursor: pointer;
    font-size: $default-font-size;
  }

  &:hover {
    transform: translateY(-3px);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem $object-shadow-2;
  }

  &--yellow {
    background-color: $color-primary;
    color: $color-grey-dark-3;
    font-weight: bold;

    &:hover {
     box-shadow: 1rem 1rem $color-secondary;
    }

    &::after {
      background-color: $color-primary;
    }
  }

  &--dark {
    background-color: $color-tertiary;
    color: $color-primary;

    &:hover {
      box-shadow: 1rem 1rem $color-secondary;
     }

    &::after {
      background-color: $color-tertiary;
    }
  }
}
