.section {
  &--about {
    background-color: white;
    height: 50vh;

    @include respond(tablet-portrait) {
      padding: 20rem 0;
    }
  }

  &--skills {
    background-color: $color-grey-dark-2;
    height: 90vh;

    .skills__container {
      margin: 0 auto;
      width: 90%;
      display: flex;
      justify-content: space-evenly;

      .box {
        &__blue {
          width: 25%;
          height: max-content;
          background-color: $color-white;
          border: 5px solid $color-secondary;
        }

        &__yellow {
          width: 25%;
          height: max-content;
          background-color: $color-white;
          border: 5px solid $color-primary;
        }

        &__text {
          padding-left: 2rem;
          padding-right: 2rem;
          font-size: 1.5rem;
        }
      }
    }

    @include respond(tablet-portrait) {
      padding: 20rem 0;
    }
  }

  &--projects {
    height: 100vh;
    text-align: center;

    .projects__container {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      height: 80%;

      .box {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        &__small {
          width: 25%;
          padding: 2.5rem;
        }

        &__large {
          width: 40%;
          padding: 5rem;
        }

        &__blue {
          height: max-content;
          background-color: $color-white;
          border: 5px solid $color-secondary;
        }

        &__yellow {
          height: max-content;
          background-color: $color-white;
          border: 5px solid $color-primary;
        }

        &__text {
          padding-left: 2rem;
          padding-right: 2rem;
          font-size: 1.5rem;
        }
      }
    }
  }
}
