.section {
  &--about {
    background-color: white;
    height: max-content;

    @include respond(tablet-portrait) {
    }
  }

  &--skills {
    background-color: $color-grey-dark-2;
    padding-bottom: 5rem;
    height: max-content;

    .skills__container {
      margin: 0 auto;
      width: 90%;
      display: flex;
      justify-content: space-evenly;

      @include respond(tablet-portrait) {
        flex-direction: column;
        align-items: center;
      }

      .box {
        &__blue {
          width: 30%;
          height: max-content;
          background-color: $color-white;
          border: 5px solid $color-secondary;

          @include respond(tablet-portrait) {
            width: 80%;
            margin-bottom: 5rem;
          }
        }

        &__yellow {
          width: 30%;
          height: max-content;
          background-color: $color-white;
          border: 5px solid $color-primary;

          @include respond(tablet-portrait) {
            width: 80%;
            margin-bottom: 5rem;
          }
        }

        &__text {
          padding-left: 2rem;
          padding-right: 2rem;
          font-size: 1.5rem;
        }
      }
    }
  }

  &--projects {
    height: 100vh;
    text-align: center;
    position: relative;

    @include respond(tablet-portrait) {
      height: max-content;
    }

    .projects {
      &__container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-content: space-around;

        &--main {
          height: 80%;
        }

        &--all {
          height: 100%;
        }

        .box {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          padding-top: 1.5rem;
          padding-bottom: 1.5rem;

          &__small {
            height: 25vh;
            width: 25%;

            @include respond(tablet-portrait) {
              width: 80%;
              margin-bottom: 5rem;
            }
          }

          &__large {
            height: 30vh;
            width: 40%;

            @include respond(tablet-portrait) {
              width: 80%;
              margin-bottom: 5rem;
            }

            @include respond(phone) {
              padding-left: 0;
              padding-right: 0;
            }
          }

          &__blue {
            background-color: $color-white;
            border: 5px solid $color-secondary;
          }

          &__yellow {
            background-color: $color-white;
            border: 5px solid $color-primary;
          }

          &__text {
            padding-left: 2rem;
            padding-right: 2rem;
            font-size: 1.5rem;
          }

          &__button {
            margin: 0 auto;
          }
        }
      }

      &__button {
        position: absolute;
        top: 2rem;
        right: 5rem;

        @include respond(phone) {
          position: relative;
          width: 50%;
          top: 0;
          right: 0;
        }
      }
    }

    .exit {
      position: absolute;
      right: 2rem;
      top: 2rem;
    }
  }

  &--copyright {
    height: 10vh;
    background-color: $color-secondary;
    color: $color-white;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
