@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.thanks {
  background-color: $color-tertiary;
  height: 100vh;
  transition: all 0.2s;
  position: relative;

  @media only screen and (max-width: 475px) {
    padding-top: 6.5rem;
  }

  .exit {
    position: absolute;
    right: 3rem;
    top: 3rem;
  }
}
