.icon {
  &__light {
    width: 5rem;
    height: 5rem;
    fill: $color-white;
    transition: all 0.2s;

    &:hover,
    &:active {
      cursor: pointer;
      fill: $color-primary;
      transform: translateY(-3px);
    }
  }

  &__dark {
    width: 5rem;
    height: 5rem;
    fill: $color-tertiary;

    &:hover,
    &:active {
      cursor: pointer;
      fill: $color-secondary;
      transform: translateY(-3px);
    }
  }
}
