@font-face {
  font-family: Mustardo;
  src: url(../../css/fonts/mustardo.ttf);
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.7;
}

.heading-primary {
  text-align: center;

  &--main {
    font-family: Mustardo;
    font-size: 10rem;
    letter-spacing: 0.25rem;
  }

  &--sub {
    font-size: 3.5rem;
  }
}

.heading-top {
  position: absolute;
  top: 1rem;
  left: 3rem;

  &--about {
    color: $color-grey-dark-3;
    font-size: 3.5rem;
  }
}

.heading {
  width: max-content;
  font-size: 3.5rem;
  padding-left: 5rem;
  padding-top: 2rem;

  &__dark {
    color: $color-grey-dark-3;
  }

  &__white {
    color: $color-white;
  }
}

.paragraph {
  width: 80vw;
  font-size: 2rem;
  padding-left: 5rem;
  padding-top: 2rem;
  color: $color-tertiary;

  &__about {
    padding-bottom: 3rem;
  }

  &__skills {
    color: $color-white;
  }
}
