@font-face {
  font-family: Mustardo;
  src: url(../../css/fonts/mustardo.ttf);
}

body {
  font-weight: 400;
  font-family: "Lato", sans-serif;
  line-height: 1.7;
  color: $color-white;
}

.heading-primary {
  text-align: center;

  &--main {
    font-family: Mustardo;
    font-size: 10rem;
    letter-spacing: 0.25rem;
  }

  &--sub {
    font-size: 3.5rem;
  }
}

.heading-top {
  position: absolute;
  top: 1rem;
  left: 3rem;

  &--about {
    color: $color-grey-dark-3;
    font-size: 3.5rem;
  }
}

.paragraph {
  width: 80vw;
  padding-left: 3rem;
  padding-bottom: 3rem;
  font-size: 2rem;
  color: $color-grey-dark-3;

  &--about {
  }

  &--more {
  }
}
