@font-face {
  font-family: Mustardo;
  src: url(../../css/fonts/mustardo.ttf);
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.7;
}

.heading-primary {
  color: $color-white;
  font-family: Mustardo;
  font-size: 10rem;
  letter-spacing: 0.25rem;
}

.heading-sub {
  color: $color-white;
  font-size: 3.5rem;
}

.heading-contact {
  color: $color-white;
  width: max-content;
  margin: 0 auto;

  &__primary {
    padding-top: 4rem;
    font-size: 3.5rem;
  }

  &__sub {
    padding-top: 2rem;
    font-size: 2.8rem;
  }
}

.heading-top {
  position: absolute;
  top: 1rem;
  left: 3rem;

  &--about {
    font-size: 3.5rem;
  }
}

.heading {
  width: max-content;
  font-size: 3.5rem;
  padding-left: 5rem;
  padding-top: 2rem;

  &__white {
    color: $color-white;
  }
}

.heading__medium {
  font-size: 2.5rem;
  text-transform: uppercase;
}

.heading__small {
  font-size: 1.6rem;
  text-transform: uppercase;
}

.paragraph {
  width: 100vw;
  font-size: 2rem;
  color: $color-tertiary;

  &__padded {
    width: 90vw;
    padding-left: 5rem;
    padding-top: 2rem;
  }

  &__about {
    padding-bottom: 3rem;
  }

  &__skills {
    color: $color-white;
  }
}

.copyright__text {
  font-size: 1.6rem;
  color: $color-white;
}
