.u-center-text {
  text-align: center !important;
}

.u-bold-text {
  font-weight: bold !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;

  @include respond(tablet-portrait) {
    margin-bottom: 3rem !important;
  }
}
.u-margin-bottom-big {
  margin-bottom: 8rem !important;

  @include respond(tablet-portrait) {
    margin-bottom: 5rem !important;
  }
}

.u-margin-top-small {
  margin-top: 1.5rem !important;
}
.u-margin-top-medium {
  margin-top: 4rem !important;
}
.u-margin-top-big {
  margin-top: 8rem !important;
}
.u-margin-top-huge {
  margin-top: 10rem !important;
}

.u-underline {
  &__yellow {
    height: 3px;
    width: 100%;
    background-color: $color-primary;
    display: block;
    content: "";
  }

  &__blue {
    height: 3px;
    width: 100%;
    background-color: $color-secondary;
    display: block;
    content: "";
  }

  &__top {
    margin-top: -8px;
    margin-bottom: 5px;
  }

  &__bottom {
    margin-top: 7px;
    margin-bottom: 5px;
  }
}
